body{
    background-color:#2c2625;
    max-width: 1024pt;
    margin:0;
    padding:0;
}
p{
        padding:0;margin:0;
        color:#fff;
    }
.title{
    h3{
        text-align: center;
        color:#fff;
        font-size: 20pt;
        margin:12px 0 ; 
    }
}   
.content{
    .top{
        margin-left:30pt;
        .customer-effective-total{
            margin-top:26pt;
            p.line-height-zero{
                line-height: 1;
            }
        }
    }
    .down{
        margin-left:30pt;
    }
    
}